.todo{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
}

.add-btn{
    background: brown;
    border-radius: 40%;
    align-self: center;
    margin-bottom: 2%;
}
.form {
    width: 80%;
    align-self: center;
}