.navbar navbar-expand-auto navbar-light bg-light {
    width: 5vw;
    margin-bottom: 0;
    padding: 0;
    
}

/* .scrolled {
    position: fixed;
    background-color: red;
} */


#nav{
    /* position: "fixed"; */
          /* z-index: 10; */
          /* width: 45%; */
}

.notBottom{
    position: fixed;
    z-index: 10;
}

/* .bottom {
    position: relative;
    z-index: 1;
    margin-bottom: 40vh;
    width: 80vw;
    margin-left: 10vw;
} */
.hide {
    display: none;
}

.todo_count {
    position: relative;
    z-index: 11;
    background-color: red;
    float: left;
    padding: 30%;
    margin-left: 150%;
    margin-bottom: 150%;
    border-radius: 100%;
    color: seashell;
    font-weight: 900;
}