* {
  font-size: calc(5px + 2vmin);
  text-align: center;
}

.App-header {
  background-color: black;
  max-height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(50% + 2vmin);
  color: white;
}
canvas {
  height: 100%;
}