* {
  font-size: calc(5px + 2vmin);
  text-align: center;
}

.App-header {
  background-color: black;
  max-height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(50% + 2vmin);
  color: white;
}
canvas {
  height: 100%;
}
/* .App-link {
  color: #61dafb;
} */

/* .App-wrapper {

}

.col-1 {
  width: 75vw;
  padding: 0;
}
.col-2 {
  width: 10vw;
  padding: 0;
} */
Card {
  background-color: white;
}